<div class="row">
    <div class="col">
        <h2 class="text-center">Recent Projects</h2>
        <hr />
    </div>
</div>
<div class="row">
  {% for item in site.data.projects %}
    <div class="col-sm-4">
        <div class="card">
            <a href="{{ item.link }}"><img src="{{ item.thumbnail }}" alt="{{ item.name }}" style="max-width: 100%" class="card-img-top"/></a>
            <div class="card-body">
                <a href="{{ item.link }}"><h5 class="card-title text-center">{{ item.name }}</h5></a>
            </div>
        </div>
    </div>
  {% endfor %}
</div>