body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.lead {
    font-weight: 200;
}

.card {
    border: 1px solid white;
}

.bg-light {
    background-color: white!important;
}


a {
    color: #ff5b00;
}


a:link {

}

a:visited {

}

a:focus {

}

a:hover {
    color: #00A6FF;
}

a:active {

}